[Unit]
Description=Backup RPM database
ConditionACPower=true
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/lib/base-scripts/backup-rpmdb
