#!/bin/sh
#
#
# backup_rc.config.
#
# Copyright (c) 1996-2002 SuSE Linux AG, Nuernberg, Germany.
#
# please send bugfixes or comments to feedback@suse.de.
#
# paranoia settings
#
umask 022

PATH=/sbin:/bin:/usr/sbin:/usr/bin
export PATH

#
# get information from /etc/rc.config
#
if [ -f /etc/sysconfig/backup ] ; then
    . /etc/sysconfig/backup
fi

#
# create backups archive of rc.config files
#
if test -n "$RCCONFIG_BACKUP_DIR" -a -e /etc/rc.config -a -e /etc/sysconfig ; then
    mkdir -p $RCCONFIG_BACKUP_DIR
    OLD_MD5=""
    test -e $RCCONFIG_BACKUP_DIR/rc.config_recent_md5 && \
        OLD_MD5="`cat $RCCONFIG_BACKUP_DIR/rc.config_recent_md5`"
    NEW_MD5="`cat /etc/rc.config /etc/sysconfig/* | md5sum`"
    if test "$OLD_MD5" != "$NEW_MD5" ; then
        DATESTRING=`date +"%Y%m%d"`

        NEWNAME=$RCCONFIG_BACKUP_DIR/rc.config-$DATESTRING.tar.gz
        NUMBER=2
        while [ -e $NEWNAME ] ; do
            NEWNAME=$RCCONFIG_BACKUP_DIR/rc.config-$DATESTRING-$NUMBER.tar.gz
            NUMBER=`expr $NUMBER + 1`
        done

        if tar czfp $NEWNAME /etc/rc.config /etc/sysconfig 2>/dev/null ; then
            echo "$NEW_MD5" > $RCCONFIG_BACKUP_DIR/rc.config_recent_md5
            test "$MAX_RCCONFIG_BACKUPS" -gt 0 2> /dev/null || MAX_RCCONFIG_BACKUPS=0
            NUMBER=1
            for BACKUPFILE in `ls -1 -t $RCCONFIG_BACKUP_DIR/rc.config-*` ; do
                if test "$NUMBER" -gt "$MAX_RCCONFIG_BACKUPS" ; then
                    rm -f $BACKUPFILE
                fi
                NUMBER=`expr $NUMBER + 1`
            done
        else
            echo "ERROR!! can not backup rc.config files"
	    echo "to $RCCONFIG_BACKUP_DIR."
            echo "Maybe there is not enough disk space."
            rm -f $NEWNAME
        fi
    fi
fi

exit 0
